@model HealthDemo.Controllers.HomeController
@{
    ViewData["Title"] = "Home Page";
    ErpToolkit.Models.InputLogin _login = new ErpToolkit.Models.InputLogin();
    if (Model != null && Model.Input2 != null) _login = Model.Input2;
}

<div class="text-center">
    <p><img src="/wwwroot/ErpToolkitLogo.png"></p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
