@using ErpToolkit.Extensions
@namespace HealthDemo.Views.Home

@model HealthDemo.Controllers.HomeController
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>
<p>La tua privacy &eacute; importante per noi. Questa pagina descrive le nostre politiche riguardanti la raccolta, l'uso e la divulgazione delle informazioni personali quando utilizzi il nostro servizio.</p>

<h2>Informazioni che raccogliamo</h2>
<p>Descrivi qui le informazioni che raccogli e come vengono utilizzate.</p>

<h2>Uso delle informazioni</h2>
<p>Descrivi qui come utilizzi le informazioni raccolte.</p>

<h2>Divulgazione delle informazioni</h2>
<p>Descrivi qui le circostanze in cui potresti divulgare le informazioni raccolte.</p>

<h2>Contatti</h2>
<p>Se hai domande sulla nostra politica sulla privacy, contattaci a: <a href="mailto:info@tuodominio.com">info@tuodominio.com</a></p>